.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
row {
  width: 100%;
}

.flex-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

input[type="checkbox"]{
  width: 30px; 
  height: 30px;
  margin-top: 5px;
}


a:link, a:visited {
  background-color: #7c7ca5;
  color: white;
  font-size: 1rem;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 3px;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:13px;
   margin-right: 13px;
}

a:hover, a:active {
  background-color:#35354c;
}